[GENERAL]
VREF = 3.297
ADC_RESOLUTION = 1024
ADC_SAMPLERATE = 3250
ADC_SAMPLES = 400

[INFLUX]
host = "127.0.0.1"
port = 8086
token = "<VERY_SECRET_TOKEN>"
organization = "<ORGANIZATION>"
bucket = "<BUCKET>"

[PHASES]
COUNT = 3
FREQUENCY = 50.0
TRANSFORMER_VDIVIDER = 11

[PHASES.1]
VOLTAGE = 237.5
TRANSFORMER_OUTPUT_VOLTAGE = 12.22

[PHASES.2]
VOLTAGE = 238.2
TRANSFORMER_OUTPUT_VOLTAGE = 12.25

[PHASES.3]
VOLTAGE = 238.1
TRANSFORMER_OUTPUT_VOLTAGE = 12.22

[VOLTMETER.1.BIAS]
CHANNEL = 4
FACTOR = 1.002

[VOLTMETER.1.VAC]
CHANNEL = 3
FACTOR = 1.0175

[VOLTMETER.2.BIAS]
CHANNEL = 4
FACTOR = 1.002

[VOLTMETER.2.VAC]
CHANNEL = 3
FACTOR = 1.0185

[VOLTMETER.3.BIAS]
CHANNEL = 4
FACTOR = 1.002

[VOLTMETER.3.VAC]
CHANNEL = 3
FACTOR = 1.0185

[CTS]
BURDEN_RESISTANCE = 22.0
WINDING_RATIO = 1000

[CTS.1]
COUNT = 6

[CTS.1.1]
CHANNEL = 0
DESCRIPTION = "Phase 1 Inlet"
TYPE = "mains"
SHIFT = 0.159
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.1.2]
CHANNEL = 1
DESCRIPTION = "Kitchen Oven 1"
TYPE = "consumption"
SHIFT = 0.148
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.1.3]
CHANNEL = 2
DESCRIPTION = "Water Boiler 1"
TYPE = "consumption"
SHIFT = 0.137
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.1.4]
CHANNEL = 5
DESCRIPTION = "Cellar"
TYPE = "consumption"
SHIFT = -0.148
FACTOR = -0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.1.5]
CHANNEL = 6
DESCRIPTION = "Bedroom Parents"
TYPE = "consumption"
SHIFT = -0.159
FACTOR = -0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.1.6]
CHANNEL = 7
DESCRIPTION = "Solar Power 1"
TYPE = "production"
SHIFT = -0.17
FACTOR = -0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.2]
COUNT = 6

[CTS.2.1]
CHANNEL = 0
DESCRIPTION = "Phase 2 Inlet"
TYPE = "mains"
SHIFT = 0.159
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.2.2]
CHANNEL = 1
DESCRIPTION = "Kitchen Oven 2"
TYPE = "consumption"
SHIFT = 0.148
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.2.3]
CHANNEL = 2
DESCRIPTION = "Water Boiler 2"
TYPE = "consumption"
SHIFT = 0.137
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.2.4]
CHANNEL = 5
DESCRIPTION = "Bedroom Child 1"
TYPE = "consumption"
SHIFT = -0.148
FACTOR = -0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.2.5]
CHANNEL = 6
DESCRIPTION = "Bathroom"
TYPE = "consumption"
SHIFT = -0.159
FACTOR = -0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.2.6]
CHANNEL = 7
DESCRIPTION = "Solar Power 2"
TYPE = "production"
SHIFT = -0.17
FACTOR = -0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.3]
COUNT = 6

[CTS.3.1]
CHANNEL = 0
DESCRIPTION = "Phase 3 Inlet"
TYPE = "mains"
SHIFT = 0.159
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.3.2]
CHANNEL = 1
DESCRIPTION = "Kitchen Oven 3"
TYPE = "consumption"
SHIFT = 0.148
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.3.3]
CHANNEL = 2
DESCRIPTION = "Water Boiler 3"
TYPE = "consumption"
SHIFT = 0.137
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.3.4]
CHANNEL = 5
DESCRIPTION = "Garage"
TYPE = "consumption"
SHIFT = -0.148
FACTOR = -0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.3.5]
CHANNEL = 6
DESCRIPTION = "Hallway"
TYPE = "consumption"
SHIFT = -0.159
FACTOR = -0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"

[CTS.3.6]
CHANNEL = 7
DESCRIPTION = "Solar Power 3"
TYPE = "production"
SHIFT = -0.17
FACTOR = 0.995
CUTOFF = 40
KWH = 0.0
RESET_UTC = "1970-1-1 00:00:00.000000"
