[Unit]
Description=Rpi Energy Meter
After=multi-user.target

[Service]
Type=simple
Restart=always
KillSignal=SIGINT
# WorkingDirectory=/run/rpi-energy-meter
WorkingDirectory=/home/rpi/rpi-energy-meter
ExecStart=/home/rpi/rpi-energy-meter/.venv/bin/python /home/rpi/rpi-energy-meter/.venv/bin/rpi-energy-meter -c config.toml

[Install]
WantedBy=multi-user.target
